<!DOCTYPE html>
<style>
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
    <head>
        <title>{{ title }}</title>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
    </head>
    <body class="body">
         <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/maxeage/">Age range of medal winners</a>
            <a href="/variabilityage/">Variability/Deviation of age</a>
            <a href="/correlation/">Correlation</a>
             <a href="/averageage/">Average Age/Height</a>
        </div>
        <div class="age">

            <h1>The maximum and min age for each medal were:</h1>
            <ul>
                <li>Oldest Gold medal winner = {{ gold_max }}</li></a>
                <li>Youngest Gold medal winner = {{ gold_min }}</li></a><br>
                <li>Oldest Silver medal winner = {{ silver_max }}</li></a>
                <li>Youngest Silver medal winner = {{ silver_min }}</li></a><br>
                <li>Oldest Bronze medal winner = {{ bronze_max }}</li></a>
                <li>Youngest Bronze medal winner = {{ bronze_min }}</li></a>
            </ul>
        </div>
        <div class="container" width="100" height="100" align="left">
            <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
        </div>
    </body>
</html>
